<%= link_to "Crear anticipo", new_anticipo_path %>
<%= link_to "Arquitecto", new_arquitecto_path %>
<%= link_to "Obra", new_obra_path %>

<div class="table-responsive">
  <table class="table table-striped table-hover mx-auto w-50 shadow border border-dark border-2 bg-light text-dark">
    <thead class="bg-primary text-white">
      <tr>
        <th>Arquitecto</th>
        <th>Obra</th>
        <th>Fecha</th>
        <th>Cantidad</th>
        <th>Concepto</th>
        <th>Acciones</th> <!-- Agregamos una columna para las acciones -->
      </tr>
    </thead>
    <tbody>
      <% @anticipos.each do |anticipo| %>
        <tr>
          <td><%= anticipo.arquitecto.nombre %></td>
          <td><%= anticipo.obra.nombre %></td>
          <td><%= anticipo.fecha %></td>
          <td><%= anticipo.cantidad %></td>
          <td><%= anticipo.concepto %></td>
          <td>
            <%= link_to 'Generar PDF', generar_pdf_path(anticipo_id: anticipo.id, format: :pdf), class: 'btn btn-primary', target: '_blank' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

