<%= form_for(@anticipo, html: {class: "form-horizontal"}) do |f| %>
  <div class="form-group">
    <%= f.label :Arquitecto, class: "d-block" %>
    <%= f.select :arquitecto_id, options_for_select(@arquitectos.map { |arquitecto| [arquitecto.nombre, arquitecto.id] }, @anticipo.arquitecto_id), {}, class: "form-control", id: "anticipo_arquitecto_id" %>
  </div>

  <div class="form-group">
    <%= f.label :Obra, class: "d-block" %>
    <%= f.select :obra_id, options_for_select(@obras.map { |obra| [obra.nombre, obra.id] }, @anticipo.obra_id), {}, class: "form-control", id: "anticipo_obra_id" %>
  </div>


  <div class="form-group">
    <%= f.label :fecha %>
    <%= f.text_field :fecha, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :cantidad %>
    <%= f.text_field :cantidad, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :concepto %>
    <%= f.text_field :concepto, class: "form-control" %>
  </div>

  <div class="form-group text-center">
    <%= f.submit "Guardar", class: "btn btn-primary" %>
  </div>
<% end %>

<script>
  $(document).on('turbolinks:load', function() {
    var arquitectoSelect = $('#anticipo_arquitecto_id');
    var obraSelect = $('#anticipo_obra_id');

    arquitectoSelect.on('change', function() {
      var arquitectoId = $(this).val();

      $.ajax({
        url: '/obras_por_arquitecto',
        type: 'GET',
        data: { arquitecto_id: arquitectoId },
        dataType: 'json',
        success: function(response) {
          obraSelect.empty();

          $.each(response.obras, function(index, obra) {
            obraSelect.append($('<option></option>').attr('value', obra.id).text(obra.nombre));
          });
        }
      });
    });

    // Cargar las obras iniciales al cargar la página
    var initialArquitectoId = arquitectoSelect.val();
    loadObras(initialArquitectoId);
  });

  function loadObras(arquitectoId) {
    $.ajax({
      url: '/obras_por_arquitecto',
      type: 'GET',
      data: { arquitecto_id: arquitectoId },
      dataType: 'json',
      success: function(response) {
        obraSelect.empty();

        $.each(response.obras, function(index, obra) {
          obraSelect.append($('<option></option>').attr('value', obra.id).text(obra.nombre));
        });
      }
    });
  }
</script>
